:root {
  --text-color: aliceblue;
}

body {
  background-color: forestgreen;
  color: var(--text-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.is-flex {
  display: flex;
}

.is-flex-direction-column {
  flex-direction: column;
}

.is-align-items-center {
  align-items: center;
}

.is-justify-content-center {
  justify-content: center;
}